/*
#sidebar-container {

    border: 1px solid black;
    float: left;
    height: 100%;
    width: 250px;
}

#file-container {
    height: 50%;
    overflow: scroll;

}

#project-title {
    text-align: center;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#metadata-container {
    height: 50%;
    border: 1px solid black;
    overflow: scroll;

}

#toolbar-container {
    border: 1px solid red;
    height: 100px;
}*/

.container {
    overflow: hidden;
}

#main-content-container {
    overflow: hidden;
    border: 1px solid red;
    height: 1000px;
}

#sidebar-container {
    width: 250px;
    float: left;
    border: 1px solid black;
}

#file-container {
    height: 50%;
    overflow-y: scroll;
    background-color: #ccc;;
}

#project-title {
    text-align: center;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#metadata-container {
    height: 250px;
    border: 1px solid black;
    overflow: scroll;
    background-color: #ccc;;

}

#toolbar-container {
    width: 100%;
    height: 40px;
    background: #c2c2c2;
}

#toolbar-container .toolbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#toolbar-container .toolbar-list li {
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 2px;
    background-color: #a7a7a7;

    border-left: 2px solid grey;
    border-right: 2px solid grey;
}