<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Turbine Create</h1>
    <div class="well">
      <form role="form" ng-submit="createTurbine(name, bin)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" ng-model="name"/>
        </div>

          <div class="form-group">
          <label for="bin">Bin Array</label>
          <input type="text" class="form-control" id="bin" ng-model="bin"/>
        </div>
cdxcffddfsdf
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
