
<h1 class="page-header text-center">Create A Project</h1>
<div class="row placeholder">
    <div class="col-md-9 col-md-offset-2 col-sm-6 col-sm-offset-1 placeholder" style="margin-top: 40px;">
            <form role="form" ng-submit="createProject(title, description, selectedTurbine)">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" ng-model="title"/>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea style="height: 140px;" type="text" class="form-control" id="description" ng-model="description"/>
                </div>

                <div class="form-group">
                    <label for="turbine">Turbine</label>
                    <select ng-model="selectedTurbine" style="width: 100%;">
                        <option value="" disabled selected>Select A Turbine</option>
                        <option ng-repeat="turbine in turbineList" value="{[{ turbine }]}">{[{turbine.name}]}</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary center-block">Create Project</button>
                </div>
            </form>
    </div>
</div>

