<form name="form">
    mast
  <div class="button" ngf-select ng-model="mastFile" name="mastFile">Select {[{ mastFile.name }]}</div>

    lidar
    <div class="button" ngf-select ng-model="lidarFile" name="lidarFile">Select {[{ lidarFile.name }]}</div>

    power
    <div class="button" ngf-select ng-model="powerFile" name="powerFile">Select {[{ powerFile.name }]}</div>
  <button type="submit" ng-click="uploadFiles(mastFile, lidarFile, powerFile)">submit</button>


</form>


<div class="form-group">
    <div ng-repeat="n in [0,1,2]">
        <label>Data File {[{n+1}]}</label>
        <input type="file" class="form-control" onchange="angular.element(this).scope().fileNameChanged(this)" id='Data File {[{n}]}' ng-model='dataFiles[$index]'/>
    </div>
</div>

<button type="button" ng-click="showPrompt($event);">Column Select</button>


