<div class="ngdialog-message overideDialog">
    <h2>Column Selection</h2>
    <p>{[{message}]}</p>


    <div style="width: 50vh;overflow-y: scroll;">
        <div ng-repeat="colName in columnNames">
            <label>{[{ colName }]}</label>
            <select>
                <option>Don't use</option>
            </select> <!-- column type -->
            <select ng-model="selectedColumnType">
                <option ng-repeat="col in columnTypes" value="{[{ col }]}">{[{col}]}</option>
            </select>

            <select ng-model="selectedValueType">
                <option ng-repeat="col in valueTypes" value="{[{ col }]}">{[{col}]}</option>
            </select>
        </div>
    </div>


    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>
            Cancel
        </button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("OK")>OK</button>
    </div>
</div>
