
<form name="my_form" method="POST" action="">
    {% csrf_token %}
    <label for="title">Project Title</label>
    <input ng-model="title" type="text" name="title">

    <label for="site_calibration_allowed">Site Calibration</label>
    <input ng-model="siteCalibrationCheckbox" type="checkbox" name="site_calibration_allowed">

    <select ng-model="turbineSelected" name="turbineSelected" id="turbineSelected">
        <option ng-repeat="turbine in turbines" value="{[{ turbine }]}">{[{ turbine.name }]}</option>
    </select>


    <input ng-click="createProject(title, siteCalibrationCheckbox, turbineSelected)" type="submit" value="Create">
</form>
