<div id="sidebar-container" class="ui-widget-content">


    <h3 id="sidebar_title">{{ sidebar_title }}</h3>
    <div id="file-container">

        <div id="file-view-container">
            <ul>
                    <li class="file-item">
                         <a>preProcessing</a>
                    </li>
                    <li class="file-item">
                         <a>siteCalibration(2 files) [optional]</a>
                    </li>
                {% for data in sidebar_data %}
                    <li class="file-item">
                        {% if sidebar_object == 'project-list' %}
                         <a href="{% url 'project_view' data.title %}">{{ data.title }}</a>
                        {% elif sidebar_object == 'project-obj' %}
                            <a href="#">{{ data.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="metadata-container">
        <p>-Metadata here-</p>
    </div>
</div>