<div id="sidebar-container" class="ui-widget-content">

    <div id="file-container">
        <h3>Project Title</h3>

        <div id="file-view-container">
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
            <p>FSDdsaadsdasdsadsa daa sdas ads dsa ads dsadsa das dasdsa dsa<p>
        </div>
    </div>

    <div id="metadata-container">

    </div>
</div>