{% load staticfiles %}

<div id="sidebar-container" class="ui-widget-content">


    <h3 id="sidebar_title">{[{ sideBarTitle }]}</h3>
    <div id="file-container">

        <div id="file-view-container">
            <ul>
                    <li class="file-item">
                         <a>preProcessing</a>
                    </li>
                    <li class="file-item">
                         <a>siteCalibration(2 files) [optional]</a>
                    </li>

                <div ng-switch on="sideBarMode">
                    <div ng-switch-when="project-list">
                        {% include "webinterface/partials/projectList.html" %}
                    </div>

                    <div ng-switch-when="project-obj">
                        <li class="file-item" ng-repeat="analysis in analyses" >
                            <a ng-click="">{[{ analysis.title }]}</a>
                        </li>
                    </div>

                </div>

            </ul>
        </div>
    </div>

    <div id="metadata-container">
        <p><b>{[{currProject.title}]}</b></p>
        <p>Created: {[{currProject.date_created | date}]}</p>
        <p>Last modified: {[{currProject.date_updated | date}]}</p>
    </div>
</div>