    <nav  id="toolbar-container" role="navigation">
        <ul>
            <div ng-switch on="sideBarMode">
                <a ng-switch-when="project-obj" href="" ng-click="setSideBarMode('project-list');"><li title="{[{ sideBarMode }]}"><i class="fa fa-level-up"></i></li></a>
            </div>

            <a href="" ng-click="setMainContentState('project-create')"><li title="New File"><i class="fa fa-file"></i></li></a>

            <a href="" ng-click="setMainContentState('project-upload')"><li title="Upload File"><i class="fa fa-folder-open"></i></li></a>

        </ul>
    </nav>
