<div ng-controller="analysisCreationController">
   <form novalidate role="form" ng-submit="createAnalysis(title, currentProject, calculationRows, selectedDataFile, addedPlots)">
      <h1 class="page-header text-center">Create An Analysis</h1>
      <div class="row placeholder">
         <div class="col-md-10 col-sm-6 col-sm-offset-1 placeholder" style="margin-top: 40px;">
            <div class="form-group">
               <label for="title">Title</label>
               <input type="text" class="form-control" id="title" ng-model="title"/>
            </div>
            <div class="form-group">
               <label for="description">Description</label>
               <textarea style="height: 140px;" type="text" class="form-control" id="description" ng-model="description"/>
            </div>
            <div class="form-group">
               <label>Input Data File</label>
               <select ng-model="selectedDataFile" ng-change="dataFileChange(selectedDataFile)" style="width: 100%;">
                  <option value="" disabled selected>Select A Data File</option>
                  <option ng-repeat="(key, file) in dataFiles" value="{[{ file }]}">{[{file}]} ({[{ currentProject.title }]})</option>
               </select>
            </div>
         </div>
      </div>
      <div class="row" ng-show="selectedDataFile == 'Synchronised'">
         <div class="col-md-12">
            <h2 class="page-header text-center">Add Derived Calculations</h2>
            <button class="btn" type="button" ng-click="addTableRow(selectedCalculation, selectedColumns, selectedColumnType, selectedKwargs)">Add Row</button>
            <button class="btn" type="button" ng-click="fillTable()">Fill Table</button>
            <div class="">
               <table class="table table-fixed table-bordered">
                  <thead>
                     <tr>
                        <th>Calculation</th>
                        <th>Column Arguments</th>
                        <th>Column Type</th>
                        <th>Kwargs</th>
                     </tr>
                  </thead>
                  <tbody>
                     <td class="info">
                        <select ng-model="selectedCalculation">
                           <option ng-repeat="(key, calc) in calculationTypes">{[{key}]}</option>
                        </select>
                     </td>
                     <td class="info form-inline">
                        <select ng-model="selectedColumnHeader">
                           <option ng-repeat="col in combinedCols">{[{col}]}</option>
                        </select>
                        <button type="button" class="btn" ng-click="addColumn(selectedColumnHeader)">+</button><br>
                        <p ng-repeat="col in selectedColumns">{[{col}]}<br></p>
                     </td>
                     <td class="info">
                        <select ng-model="selectedColumnType">
                           <option ng-repeat="col in columnTypes">{[{col}]}</option>
                        </select>
                     </td>
                     <td class="info">
                        <select ng-model="selectedKwargType">
                           <option ng-repeat="type in kwargTypes">{[{type}]}</option>
                        </select>
                        <button class="btn" type="button" ng-click="addKwarg(selectedKwargName, selectedKwargValue)">+</button><br>
                        <label for="kwargTitle">Kwarg Name</label><input ng-model="selectedKwargName" name="kwargTitle" type="text"/></br>
                        <label for="kwargValue">Kwarg Value</label>
                        <input  ng-model="selectedKwargValue" name="kwargValue" ng-show="selectedKwargType=='float'" type="number"/>
                        <input  ng-model="selectedKwargValue" name="kwargValue" ng-show="selectedKwargType=='string'" type="text"/>
                        <select ng-model="selectedKwargValue" name="kwargValue" ng-show="selectedKwargType=='function'">
                           <option>warrantedPowerCurve</option>
                           <option>siteCalibrationFactors</option>
                        </select>
                        <input type="checkbox" ng-show="selectedKwargType=='checkbox'" ng-model="selectedKwargValue"/>
                        <p ng-repeat="(key, val) in selectedKwargs">{[{key}]}: {[{val}]}<br></p>
                     </td>
                     </tr>
                     <tr ng-repeat="(key, row) in calculationRows" ng-click="removeTableRow(key)">
                        <td>{[{ row.calcType }]}</td>
                        <td>{[{ row.cols }]}</td>
                        <td>{[{ row.colTypeString }]}</td>
                        <td>{[{ row.kwargs }]}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <div class="row" ng-show="selectedDataFile !='Synchronised' && selectedDataFile != null">
         <div class="col-md-12">
            <button type="button" class="btn" ng-click="fillPlots()">Fill Plot Data</button>
            <select ng-model="selectedPlotType">
               <option>Correlation</option>
               <option>Distribution</option>
               <option>FFT</option>
               <option>PowerCurve</option>
            </select>
            <button class="btn" type="button" ng-click="addPlot(selectedPlotType, selectedColumns, 1)">Add Plot</button>
            <table class="table table-fixed table-bordered">
            <thead>
               <tr>
                  <th>Plot Type</th>
                  <th>Column Arguments</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="(key, row) in addedPlots" ng-click="removePlotRow(key)">
                  <td>{[{ row.plotType }]}</td>
                  <td>{[{ row.cols }]}</td>
               </tr>
            </tbody>
            </table>
            <div ng-show="selectedPlotType=='PowerCurve' || selectedPlotType=='Correlation' || selectedPlotType == 'Distribution' || selectedPlotType == 'FFT'">
               <select ng-model="selectedCol">
                  <option ng-repeat="col in combinedCols">{[{col}]}</option>
               </select>
               <button class="btn" type="button" ng-click="addColumn(selectedCol)">Add Column</button>
            </div>
         </div>
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-primary center-block">Create Analysis</button>
      </div>
   </form>
</div>