<div class="ngdialog-message">
   <link rel="stylesheet" href="static/css/ngDialog-theme-default.css" />
   <h2>{[{selectedProcess}]}</h2>
   <div ng-repeat="paramName in processParams" style="text-indent: 5%;">
      <label>{[{ paramName }]}</label>
      <select ng-model="selectedColumns[$index]">
         <option ng-repeat="colName in columnNames" >{[{ colName }]}</option>
      </select>
   </div>
   <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>
      Cancel
      </button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("OK")>OK</button>
   </div>
</div>