<div ng-show="currentAnalysis.analysisType == 1" class="row">

    <div class="col-md-12">
       <h1 class="page-header text-center">{[{ currentAnalysis.title }]} Derived Calculations</h1>
            {[{ plotData }]}

       <table class="table table-fixed table-bordered" >
                  <thead>
                     <tr>
                        <th>Calculation</th>
                        <th>Column Arguments</th>
                        <th>Column Type</th>
                        <th>Kwargs</th>
                     </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="(key, row) in calculationRows.calculationRows">
                      <td>{[{ row.calcType }]}</td>
                      <td>{[{ row.cols }]}</td>
                      <td>{[{ row.colTypeString }]}</td>
                      <td>{[{ row.kwargs }]}</td>
                  </tr>
                  </tbody>
               </table>
    </div>
</div>



<div ng-show="currentAnalysis.analysisType == 2">
    <div class="col-md-12">
       <h1 class="page-header text-center">{[{ currentAnalysis.title }]} Plots</h1>

        <ul class="plotList">
            <li ng-show="currentAnalysis.correlationPlot == true"><img src="static/plots/{[{ currentAnalysis.title }]}/correlation.png"/></li>
            <li ng-show="currentAnalysis.distributionPlot == true"><img src="static/plots/{[{ currentAnalysis.title }]}/distribution.png"/></li>
            <li ng-show="currentAnalysis.fftPlot == true"><img src="static/plots/{[{ currentAnalysis.title }]}/fft.png"/></li>
            <li ng-show="currentAnalysis.powerCurvePlot == true"><img src="static/plots/{[{ currentAnalysis.title }]}/powerCurve.png"/></li>
        </ul>
    </div>
</div>